<div class="container">
  <div class="jumbotron col-sm-6 col-sm-offset-3">
    <h1 class="display-4">Hi, citizen!</h1>
    <p class="lead">Welcome to Adopt A Politician, your platform for donating to politicians who are addressing issues you care about.</p>
    <hr class="my-4">
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
      <a class="btn btn-primary btn-lg" href="<%= new_voter_path %>" role="button">Sign up</a>
    </div>
  </div>
</div>
