<center>
  <div class="container col-sm-10 col-sm-offset-1">
    <h1 class="display-4">Hey there, <%= @voter.username %></h1>
    <br>

    <% if @donations.any? %>
      <p class="lead"><b>Favorite Politician:</b> <%= @voter.favorite_politician %></p>
      <%= render partial: "donations/list", locals: {donations: @donations} %>
    <% else %>
      <h3>No donations yet!</h3>
    <% end %>
  </div>
</center>
