<center>
  <% @politicians.each do |politician| %>
    <h2><%= link_to politician.name, politician_path(politician) %></h2>
    <p><b>Party:</b> <%= politician.party %></p>
    <p><b>Total Donations:</b> $<%= politician.dollars %></p>
    <p><i><%= link_to "Donate to #{politician.name}", new_politician_donation_path(politician) %></i></p>
  <% end %>
</center>
